<a href="https://colab.research.google.com/github/Samar-080301/Python_Project/blob/master/BSE_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import QuantileTransformer
import seaborn as sns
sns.set(style="white", color_codes=True)
%matplotlib inline

In [5]:
def download_stock_data(stock):
    url = "https://query1.finance.yahoo.com/v7/finance/download/"+stock+".BO?period1=1577110559&period2=1608732959&interval=1d&events=history&includeAdjustedClose=true"
    r = requests.get(url)
    open(stock+'.csv','wb').write(r.content)

In [6]:
index = ['RELIANCE','INFY','HCLTECH','TCS','BAJAJ-AUTO',
         'TITAN','LT','NESTLEIND','TECHM','ASIANPAINT',
         'M&M','ICICIBANK','POWERGRID','HINDUNILVR','SUNPHARMA',
         'TATASTEEL','AXISBANK','SBIN','ULTRACEMCO','BAJAJFINSV',
        'ITC','NTPC','BAJFINANCE','BHARTIARTL','MARUTI',
         'KOTAKBANK','HDFC','HDFCBANK','ONGC','INDUSINDBK']

In [7]:
a=1
for i in index:
    download_stock_data(i)
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [8]:
a = pd.read_csv(r'/content/ASIANPAINT.csv',date_parser='Date')

In [9]:
print(a[220:230])

           Date         Open         High  ...        Close    Adj Close    Volume
220  2020-11-09  2249.600098  2249.600098  ...  2224.949951  2224.949951   59095.0
221  2020-11-10  2227.000000  2238.550049  ...  2199.649902  2199.649902   57767.0
222  2020-11-11  2200.000000  2223.600098  ...  2181.899902  2181.899902   63840.0
223  2020-11-12  2172.000000  2200.550049  ...  2171.699951  2171.699951   46553.0
224  2020-11-13  2189.600098  2205.399902  ...  2179.550049  2179.550049  160362.0
225  2020-11-14          NaN          NaN  ...          NaN          NaN       NaN
226  2020-11-17  2189.000000  2222.699951  ...  2186.949951  2186.949951   29882.0
227  2020-11-18  2188.000000  2210.000000  ...  2196.000000  2196.000000   53482.0
228  2020-11-19  2183.000000  2194.600098  ...  2161.250000  2161.250000   41850.0
229  2020-11-20  2165.000000  2190.000000  ...  2163.850098  2163.850098   73781.0

[10 rows x 7 columns]

In [10]:
ac = a['Close']
ac.tail(40)

212    2159.199951
213    2224.800049
214    2213.050049
215    2172.050049
216    2154.949951
217    2169.250000
218    2238.449951
219    2208.449951
220    2224.949951
221    2199.649902
222    2181.899902
223    2171.699951
224    2179.550049
225            NaN
226    2186.949951
227    2196.000000
228    2161.250000
229    2163.850098
230    2189.399902
231    2207.600098
232    2154.300049
233    2156.000000
234    2217.350098
235    2229.699951
236    2316.300049
237    2410.850098
238    2438.750000
239    2473.100098
240    2438.850098
241    2521.149902
242    2529.199951
243    2520.199951
244    2549.399902
245    2527.149902
246    2581.899902
247    2574.000000
248    2601.550049
249    2554.699951
250    2604.649902
251    2642.750000
Name: Close, dtype: float64

In [11]:
ac = np.array(ac)
print(ac)

[1807.449951 1803.400024 1810.099976 1812.949951 1802.400024 1786.849976
 1793.75     1790.25     1751.650024 1707.5      1723.900024 1730.849976
 1773.       1791.050049 1805.25     1818.550049 1841.75     1834.949951
 1831.199951 1848.599976 1810.25     1778.300049 1775.300049 1786.099976
 1787.050049 1778.699951 1796.5      1805.400024 1795.25     1867.400024
 1890.849976 1872.300049 1861.       1857.550049 1870.349976 1877.150024
 1892.050049 1874.050049 1877.199951 1881.349976 1863.300049 1886.25
 1842.849976 1818.75     1825.25     1826.550049 1844.349976 1798.199951
 1788.550049 1801.650024 1849.849976 1875.449951 1878.5      1878.5
 1882.650024 1842.849976 1797.599976 1682.949951 1734.199951 1616.650024
 1603.       1745.849976 1498.75     1525.25     1594.050049 1629.699951
 1606.199951 1597.150024 1666.699951 1603.900024 1521.300049 1624.050049
 1609.599976 1652.449951 1679.349976 1718.400024 1742.349976 1754.599976
 1731.650024 1725.599976 1812.650024 1820.400024 1827.400024 1852.300049
 1824.199951 1768.       1760.050049 1676.199951 1618.550049 1610.599976
 1593.949951 1577.900024 1569.25     1523.199951 1562.900024 1522.150024
 1553.75     1501.150024 1505.75     1500.449951 1575.       1617.849976
 1630.5      1619.75     1643.75     1684.400024 1693.5      1709.849976
 1716.300049 1633.       1638.400024 1634.449951 1641.550049 1636.199951
 1609.550049 1637.949951 1618.050049 1621.050049 1596.099976 1598.900024
 1622.25     1653.449951 1683.650024 1746.400024 1688.849976 1687.349976
 1691.949951 1687.349976 1688.099976 1686.699951 1696.099976 1708.349976
 1745.449951 1686.599976 1716.800049 1703.050049 1705.650024 1688.449951
 1671.300049 1692.650024 1717.949951 1751.949951 1723.599976 1697.449951
 1727.400024 1710.949951 1777.75     1759.599976 1737.449951 1743.099976
 1716.650024 1704.949951 1714.300049 1717.150024 1728.25     1805.050049
 1782.449951 1789.550049 1796.75     1802.150024 1801.599976 1835.849976
 1873.599976 1885.699951 1875.25     1958.349976 1963.25     2001.
 1971.050049 1982.       1957.699951 1903.400024 1978.199951 1946.
 1978.449951 1956.       1981.949951 1958.150024 1978.800049 2062.899902
 2035.199951 2031.550049 2016.949951 2014.550049 2008.400024 2028.800049
 1972.699951 1935.800049 1946.5      1919.199951 1924.400024 1946.099976
 1959.849976 1987.550049 2040.949951 2027.099976 2090.600098 2103.949951
 2090.600098 2050.399902 2076.899902 2064.75     2071.300049 2089.399902
 2061.75     2070.600098 2119.300049 2114.350098 2100.25     2119.399902
 2080.699951 2198.149902 2159.199951 2224.800049 2213.050049 2172.050049
 2154.949951 2169.25     2238.449951 2208.449951 2224.949951 2199.649902
 2181.899902 2171.699951 2179.550049         nan 2186.949951 2196.
 2161.25     2163.850098 2189.399902 2207.600098 2154.300049 2156.
 2217.350098 2229.699951 2316.300049 2410.850098 2438.75     2473.100098
 2438.850098 2521.149902 2529.199951 2520.199951 2549.399902 2527.149902
 2581.899902 2574.       2601.550049 2554.699951 2604.649902 2642.75    ]

In [12]:
def remove_nan(ac):
    array1 = np.array(ac)
    nan_array = np.isnan(array1)
    not_nan_array = ~ nan_array
    ac = array1[not_nan_array]
    return ac

In [13]:
ac = remove_nan(ac)
print(ac)

[1807.449951 1803.400024 1810.099976 1812.949951 1802.400024 1786.849976
 1793.75     1790.25     1751.650024 1707.5      1723.900024 1730.849976
 1773.       1791.050049 1805.25     1818.550049 1841.75     1834.949951
 1831.199951 1848.599976 1810.25     1778.300049 1775.300049 1786.099976
 1787.050049 1778.699951 1796.5      1805.400024 1795.25     1867.400024
 1890.849976 1872.300049 1861.       1857.550049 1870.349976 1877.150024
 1892.050049 1874.050049 1877.199951 1881.349976 1863.300049 1886.25
 1842.849976 1818.75     1825.25     1826.550049 1844.349976 1798.199951
 1788.550049 1801.650024 1849.849976 1875.449951 1878.5      1878.5
 1882.650024 1842.849976 1797.599976 1682.949951 1734.199951 1616.650024
 1603.       1745.849976 1498.75     1525.25     1594.050049 1629.699951
 1606.199951 1597.150024 1666.699951 1603.900024 1521.300049 1624.050049
 1609.599976 1652.449951 1679.349976 1718.400024 1742.349976 1754.599976
 1731.650024 1725.599976 1812.650024 1820.400024 1827.400024 1852.300049
 1824.199951 1768.       1760.050049 1676.199951 1618.550049 1610.599976
 1593.949951 1577.900024 1569.25     1523.199951 1562.900024 1522.150024
 1553.75     1501.150024 1505.75     1500.449951 1575.       1617.849976
 1630.5      1619.75     1643.75     1684.400024 1693.5      1709.849976
 1716.300049 1633.       1638.400024 1634.449951 1641.550049 1636.199951
 1609.550049 1637.949951 1618.050049 1621.050049 1596.099976 1598.900024
 1622.25     1653.449951 1683.650024 1746.400024 1688.849976 1687.349976
 1691.949951 1687.349976 1688.099976 1686.699951 1696.099976 1708.349976
 1745.449951 1686.599976 1716.800049 1703.050049 1705.650024 1688.449951
 1671.300049 1692.650024 1717.949951 1751.949951 1723.599976 1697.449951
 1727.400024 1710.949951 1777.75     1759.599976 1737.449951 1743.099976
 1716.650024 1704.949951 1714.300049 1717.150024 1728.25     1805.050049
 1782.449951 1789.550049 1796.75     1802.150024 1801.599976 1835.849976
 1873.599976 1885.699951 1875.25     1958.349976 1963.25     2001.
 1971.050049 1982.       1957.699951 1903.400024 1978.199951 1946.
 1978.449951 1956.       1981.949951 1958.150024 1978.800049 2062.899902
 2035.199951 2031.550049 2016.949951 2014.550049 2008.400024 2028.800049
 1972.699951 1935.800049 1946.5      1919.199951 1924.400024 1946.099976
 1959.849976 1987.550049 2040.949951 2027.099976 2090.600098 2103.949951
 2090.600098 2050.399902 2076.899902 2064.75     2071.300049 2089.399902
 2061.75     2070.600098 2119.300049 2114.350098 2100.25     2119.399902
 2080.699951 2198.149902 2159.199951 2224.800049 2213.050049 2172.050049
 2154.949951 2169.25     2238.449951 2208.449951 2224.949951 2199.649902
 2181.899902 2171.699951 2179.550049 2186.949951 2196.       2161.25
 2163.850098 2189.399902 2207.600098 2154.300049 2156.       2217.350098
 2229.699951 2316.300049 2410.850098 2438.75     2473.100098 2438.850098
 2521.149902 2529.199951 2520.199951 2549.399902 2527.149902 2581.899902
 2574.       2601.550049 2554.699951 2604.649902 2642.75    ]

In [15]:
col = ac.reshape(-1, 1)
print(col)

[[1807.449951]
 [1803.400024]
 [1810.099976]
 [1812.949951]
 [1802.400024]
 [1786.849976]
 [1793.75    ]
 [1790.25    ]
 [1751.650024]
 [1707.5     ]
 [1723.900024]
 [1730.849976]
 [1773.      ]
 [1791.050049]
 [1805.25    ]
 [1818.550049]
 [1841.75    ]
 [1834.949951]
 [1831.199951]
 [1848.599976]
 [1810.25    ]
 [1778.300049]
 [1775.300049]
 [1786.099976]
 [1787.050049]
 [1778.699951]
 [1796.5     ]
 [1805.400024]
 [1795.25    ]
 [1867.400024]
 [1890.849976]
 [1872.300049]
 [1861.      ]
 [1857.550049]
 [1870.349976]
 [1877.150024]
 [1892.050049]
 [1874.050049]
 [1877.199951]
 [1881.349976]
 [1863.300049]
 [1886.25    ]
 [1842.849976]
 [1818.75    ]
 [1825.25    ]
 [1826.550049]
 [1844.349976]
 [1798.199951]
 [1788.550049]
 [1801.650024]
 [1849.849976]
 [1875.449951]
 [1878.5     ]
 [1878.5     ]
 [1882.650024]
 [1842.849976]
 [1797.599976]
 [1682.949951]
 [1734.199951]
 [1616.650024]
 [1603.      ]
 [1745.849976]
 [1498.75    ]
 [1525.25    ]
 [1594.050049]
 [1629.699951]
 [1606.199951]
 [1597.150024]
 [1666.699951]
 [1603.900024]
 [1521.300049]
 [1624.050049]
 [1609.599976]
 [1652.449951]
 [1679.349976]
 [1718.400024]
 [1742.349976]
 [1754.599976]
 [1731.650024]
 [1725.599976]
 [1812.650024]
 [1820.400024]
 [1827.400024]
 [1852.300049]
 [1824.199951]
 [1768.      ]
 [1760.050049]
 [1676.199951]
 [1618.550049]
 [1610.599976]
 [1593.949951]
 [1577.900024]
 [1569.25    ]
 [1523.199951]
 [1562.900024]
 [1522.150024]
 [1553.75    ]
 [1501.150024]
 [1505.75    ]
 [1500.449951]
 [1575.      ]
 [1617.849976]
 [1630.5     ]
 [1619.75    ]
 [1643.75    ]
 [1684.400024]
 [1693.5     ]
 [1709.849976]
 [1716.300049]
 [1633.      ]
 [1638.400024]
 [1634.449951]
 [1641.550049]
 [1636.199951]
 [1609.550049]
 [1637.949951]
 [1618.050049]
 [1621.050049]
 [1596.099976]
 [1598.900024]
 [1622.25    ]
 [1653.449951]
 [1683.650024]
 [1746.400024]
 [1688.849976]
 [1687.349976]
 [1691.949951]
 [1687.349976]
 [1688.099976]
 [1686.699951]
 [1696.099976]
 [1708.349976]
 [1745.449951]
 [1686.599976]
 [1716.800049]
 [1703.050049]
 [1705.650024]
 [1688.449951]
 [1671.300049]
 [1692.650024]
 [1717.949951]
 [1751.949951]
 [1723.599976]
 [1697.449951]
 [1727.400024]
 [1710.949951]
 [1777.75    ]
 [1759.599976]
 [1737.449951]
 [1743.099976]
 [1716.650024]
 [1704.949951]
 [1714.300049]
 [1717.150024]
 [1728.25    ]
 [1805.050049]
 [1782.449951]
 [1789.550049]
 [1796.75    ]
 [1802.150024]
 [1801.599976]
 [1835.849976]
 [1873.599976]
 [1885.699951]
 [1875.25    ]
 [1958.349976]
 [1963.25    ]
 [2001.      ]
 [1971.050049]
 [1982.      ]
 [1957.699951]
 [1903.400024]
 [1978.199951]
 [1946.      ]
 [1978.449951]
 [1956.      ]
 [1981.949951]
 [1958.150024]
 [1978.800049]
 [2062.899902]
 [2035.199951]
 [2031.550049]
 [2016.949951]
 [2014.550049]
 [2008.400024]
 [2028.800049]
 [1972.699951]
 [1935.800049]
 [1946.5     ]
 [1919.199951]
 [1924.400024]
 [1946.099976]
 [1959.849976]
 [1987.550049]
 [2040.949951]
 [2027.099976]
 [2090.600098]
 [2103.949951]
 [2090.600098]
 [2050.399902]
 [2076.899902]
 [2064.75    ]
 [2071.300049]
 [2089.399902]
 [2061.75    ]
 [2070.600098]
 [2119.300049]
 [2114.350098]
 [2100.25    ]
 [2119.399902]
 [2080.699951]
 [2198.149902]
 [2159.199951]
 [2224.800049]
 [2213.050049]
 [2172.050049]
 [2154.949951]
 [2169.25    ]
 [2238.449951]
 [2208.449951]
 [2224.949951]
 [2199.649902]
 [2181.899902]
 [2171.699951]
 [2179.550049]
 [2186.949951]
 [2196.      ]
 [2161.25    ]
 [2163.850098]
 [2189.399902]
 [2207.600098]
 [2154.300049]
 [2156.      ]
 [2217.350098]
 [2229.699951]
 [2316.300049]
 [2410.850098]
 [2438.75    ]
 [2473.100098]
 [2438.850098]
 [2521.149902]
 [2529.199951]
 [2520.199951]
 [2549.399902]
 [2527.149902]
 [2581.899902]
 [2574.      ]
 [2601.550049]
 [2554.699951]
 [2604.649902]
 [2642.75    ]]

In [24]:
df = pd.DataFrame(ac)
scalers = [
    #('Unscaled data', X),
    ('Standard Scaling', StandardScaler()),
    ('Min-Max Scaling', MinMaxScaler()),
    ('Max-abs Sscaling', MaxAbsScaler()),
    ('Robust Scaling', RobustScaler(quantile_range=(25, 75))),
    ('Quantile Transformation (uniform pdf)', QuantileTransformer(output_distribution='uniform')),
    ('Quantile Transformation (gaussian pdf)', QuantileTransformer(output_distribution='normal')),
    ('Sample-Wise L2 Normalizing', Normalizer())
]

for scaler in scalers:
    df[scaler[0]] = scaler[1].fit_transform(col)
df.rename(columns={0: "Close"},inplace = True)    
df.head()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:2357: UserWarning: n_quantiles (1000) is greater than the total number of samples (251). n_quantiles is set to n_samples.
  % (self.n_quantiles, n_samples))
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:2357: UserWarning: n_quantiles (1000) is greater than the total number of samples (251). n_quantiles is set to n_samples.
  % (self.n_quantiles, n_samples))

         Close  ...  Sample-Wise L2 Normalizing
0  1807.449951  ...                         1.0
1  1803.400024  ...                         1.0
2  1810.099976  ...                         1.0
3  1812.949951  ...                         1.0
4  1802.400024  ...                         1.0

[5 rows x 8 columns]