<a href="https://colab.research.google.com/github/Samar-080301/Python_Project/blob/master/BSE_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import QuantileTransformer
import seaborn as sns
sns.set(style="white", color_codes=True)
%matplotlib inline

In [14]:
 #ref https://www.kaggle.com/mikalaichaly/compare-different-scalers-on-data-with-outliers

In [2]:
def download_stock_data(stock):
    url = "https://query1.finance.yahoo.com/v7/finance/download/"+stock+".BO?period1=1577110559&period2=1608732959&interval=1d&events=history&includeAdjustedClose=true"
    r = requests.get(url)
    open(stock+'.csv','wb').write(r.content)

In [3]:
index = ['RELIANCE','INFY','HCLTECH','TCS','BAJAJ-AUTO',
         'TITAN','LT','NESTLEIND','TECHM','ASIANPAINT',
         'M&M','ICICIBANK','POWERGRID','HINDUNILVR','SUNPHARMA',
         'TATASTEEL','AXISBANK','SBIN','ULTRACEMCO','BAJAJFINSV',
        'ITC','NTPC','BAJFINANCE','BHARTIARTL','MARUTI',
         'KOTAKBANK','HDFC','HDFCBANK','ONGC','INDUSINDBK']

In [ ]:
a=1
for i in index:
    download_stock_data(i)
    print(a)
    a+=1

In [5]:
a = pd.read_csv(r'/content/ASIANPAINT.csv',date_parser='Date')

In [ ]:
ac = a['Close']

In [ ]:
ac = np.array(ac)
print(ac)

In [ ]:
print(a[220:230])

In [9]:
def remove_nan(ac):
    array1 = np.array(ac)
    nan_array = np.isnan(array1)
    not_nan_array = ~ nan_array
    ac = array1[not_nan_array]
    return ac

In [ ]:
ac = remove_nan(ac)
print(ac)

In [ ]:
col = ac.reshape(-1, 1)
print(col)

In [12]:
df = pd.DataFrame(ac)
scalers = [
    #('Unscaled data', X),
    ('Standard Scaling', StandardScaler()),
    ('Min-Max Scaling', MinMaxScaler()),
    ('Max-abs Sscaling', MaxAbsScaler()),
    ('Robust Scaling', RobustScaler(quantile_range=(25, 75))),
    ('Quantile Transformation (uniform pdf)', QuantileTransformer(output_distribution='uniform')),
    ('Quantile Transformation (gaussian pdf)', QuantileTransformer(output_distribution='normal')),
    ('Sample-Wise L2 Normalizing', Normalizer())
]

for scaler in scalers:
    df[scaler[0]] = scaler[1].fit_transform(col)
df.rename(columns={0: "Close"},inplace = True)    
df.head()

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:2357: UserWarning: n_quantiles (1000) is greater than the total number of samples (251). n_quantiles is set to n_samples.
  % (self.n_quantiles, n_samples))
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_data.py:2357: UserWarning: n_quantiles (1000) is greater than the total number of samples (251). n_quantiles is set to n_samples.
  % (self.n_quantiles, n_samples))

         Close  ...  Sample-Wise L2 Normalizing
0  1807.449951  ...                         1.0
1  1803.400024  ...                         1.0
2  1810.099976  ...                         1.0
3  1812.949951  ...                         1.0
4  1802.400024  ...                         1.0

[5 rows x 8 columns]

In [ ]:
sns.heatmap(df.corr(), annot = True)

In [ ]:
df['Sample-Wise L2 Normalizing'].unique()

In [18]:
s = np.array(df['Standard Scaling'])
mm = np.array(df['Min-Max Scaling'])
ma = np.array(df['Max-abs Sscaling'])
r = np.array(df['Robust Scaling'])
q = np.array(df['Quantile Transformation (uniform pdf)'])
g = np.array(df['Quantile Transformation (gaussian pdf)'])

In [25]:
def pn(i):
    s = np.array(df[i])
    print(s[0],' to ',s[len(s)-1])

In [50]:
for i in df.columns:
    print(i,'\t')
    pn(i)
    print('\n')

Close
1807.449951  to  2642.75


Standard Scaling
-0.28032561485101265  to  3.101677009060396


Min-Max Scaling
0.26984261451048974  to  1.0


Max-abs Sscaling
0.683927708258443  to  1.0


Robust Scaling
-0.009106589698705328  to  2.707536876737634


Quantile Transformation (uniform pdf)
0.492  to  1.0


Quantile Transformation (gaussian pdf)
-0.020054370352950636  to  5.19933758270342


Sample-Wise L2 Normalizing
1.0  to  1.0

In [ ]:
fig, (ax1, ax2, ax3, ax4, ax5, ax6) = plt.subplots(6)
fig.suptitle('Correlations')
ax1.plot(df['Close'], df['Standard Scaling'])
ax2.plot(df['Close'], df['Min-Max Scaling'])
ax3.plot(df['Close'], df['Max-abs Sscaling'])
ax4.plot(df['Close'], df['Robust Scaling'])
ax5.plot(df['Close'], df['Quantile Transformation (uniform pdf)'])
ax6.plot(df['Close'], df['Quantile Transformation (gaussian pdf)'])

In [ ]:
plt.plot(df['Close'], df['Standard Scaling'])

In [ ]:
plt.plot(df['Close'], df['Min-Max Scaling'])

In [ ]:
plt.plot(df['Close'], df['Max-abs Sscaling'])

In [ ]:
plt.plot(df['Close'], df['Robust Scaling'])

In [ ]:
plt.plot(df['Close'], df['Quantile Transformation (uniform pdf)'])

In [ ]:
plt.plot(df['Close'], df['Quantile Transformation (gaussian pdf)'])

In [ ]:
plt.plot(df['Quantile Transformation (gaussian pdf)'])#indicator

In [ ]:
plt.plot(df['Close'])

In [ ]:
plt.plot(df['Quantile Transformation (uniform pdf)'])#indicator

In [47]:
r = pd.read_csv(r'/content/RELIANCE.csv',date_parser='Date')
r.head(1)

         Date    Open    High     Low   Close    Adj Close     Volume
0  2019-12-23  1555.0  1577.0  1555.0  1571.0  1565.124268  1274110.0

In [49]:
rc = r['Close']
rc = np.array(rc)
print(rc)

[1571.       1545.949951 1515.949951 1542.150024 1544.199951 1514.099976
 1509.699951 1535.349976 1537.25     1501.5      1525.050049 1513.949951
 1547.949951 1547.699951 1543.449951 1529.050049 1524.       1537.699951
 1580.650024 1532.       1533.949951 1533.099976 1527.       1521.699951
 1506.599976 1471.349976 1479.699951 1442.5      1411.699951 1385.849976
 1425.849976 1448.050049 1457.650024 1433.75     1436.75     1452.599976
 1470.       1473.949951 1486.650024 1478.400024 1466.099976 1504.199951
 1485.5      1444.849976 1416.300049 1391.400024 1385.800049 1328.650024
 1314.849976 1343.650024 1339.150024 1311.5      1270.050049 1270.050049
 1153.25     1061.599976 1106.900024 1015.25     1008.900024  968.849976
  917.099976 1020.200012  883.849976  943.099976 1081.25     1074.75
 1065.5      1032.349976 1112.449951 1080.650024 1078.199951 1206.400024
 1192.150024 1219.199951 1189.25     1150.050049 1168.699951 1225.050049
 1244.449951 1236.050049 1363.349976 1371.5      1417.349976 1430.300049
 1428.099976 1426.199951 1453.219971 1421.869995 1447.22998  1447.869995
 1493.040039 1547.079956 1561.890015 1466.300049 1496.400024 1435.449951
 1458.900024 1440.650024 1408.150024 1434.650024 1440.050049 1431.599976
 1423.699951 1446.949951 1472.650024 1465.199951 1520.449951 1536.099976
 1542.449951 1579.949951 1580.599976 1570.050049 1537.099976 1572.
 1537.5      1588.800049 1615.       1617.5      1615.400024 1656.25
 1759.5      1747.199951 1720.050049 1727.349976 1717.949951 1742.599976
 1723.150024 1703.349976 1737.900024 1760.550049 1787.5      1851.400024
 1823.949951 1797.349976 1824.599976 1878.5      1934.300049 1916.650024
 1845.599976 1843.099976 1911.349976 1919.300049 1971.849976 2004.099976
 2060.649902 2146.199951 2155.850098 2177.449951 2095.850098 2108.649902
 2066.949951 2008.449951 2151.149902 2126.649902 2134.550049 2146.699951
 2119.600098 2134.050049 2127.600098 2122.300049 2114.100098 2091.449951
 2118.75     2133.199951 2096.350098 2081.75     2096.050049 2082.
 2136.850098 2111.699951 2115.600098 2078.550049 2087.550049 2128.600098
 2112.149902 2077.399902 2082.399902 2107.050049 2161.25     2314.649902
 2318.850098 2302.350098 2317.899902 2323.850098 2299.350098 2305.5
 2255.149902 2211.149902 2229.550049 2181.149902 2201.699951 2215.75
 2244.850098 2233.75     2225.050049 2211.149902 2210.149902 2257.149902
 2238.899902 2233.699951 2236.600098 2280.25     2287.350098 2205.550049
 2175.5      2175.800049 2155.5      2123.25     2107.100098 2112.550049
 2028.699951 2034.199951 2010.699951 2026.550049 2054.350098 1877.300049
 1849.449951 1913.449951 1955.099976 2029.       2050.300049 2084.5
 1996.900024 1979.849976 1996.099976         nan 1992.900024 1987.199951
 1972.650024 1899.199951 1950.800049 1965.099976 1947.75     1953.800049
 1929.849976 1954.300049 1957.599976 1963.449951 1946.550049 1958.050049
 1993.75     2026.650024 2007.199951 2005.599976 1991.150024 1974.
 1976.050049 1985.050049 1992.25     1939.75     1936.599976 1943.800049]

In [51]:
rc = remove_nan(rc)
print(rc)

[1571.       1545.949951 1515.949951 1542.150024 1544.199951 1514.099976
 1509.699951 1535.349976 1537.25     1501.5      1525.050049 1513.949951
 1547.949951 1547.699951 1543.449951 1529.050049 1524.       1537.699951
 1580.650024 1532.       1533.949951 1533.099976 1527.       1521.699951
 1506.599976 1471.349976 1479.699951 1442.5      1411.699951 1385.849976
 1425.849976 1448.050049 1457.650024 1433.75     1436.75     1452.599976
 1470.       1473.949951 1486.650024 1478.400024 1466.099976 1504.199951
 1485.5      1444.849976 1416.300049 1391.400024 1385.800049 1328.650024
 1314.849976 1343.650024 1339.150024 1311.5      1270.050049 1270.050049
 1153.25     1061.599976 1106.900024 1015.25     1008.900024  968.849976
  917.099976 1020.200012  883.849976  943.099976 1081.25     1074.75
 1065.5      1032.349976 1112.449951 1080.650024 1078.199951 1206.400024
 1192.150024 1219.199951 1189.25     1150.050049 1168.699951 1225.050049
 1244.449951 1236.050049 1363.349976 1371.5      1417.349976 1430.300049
 1428.099976 1426.199951 1453.219971 1421.869995 1447.22998  1447.869995
 1493.040039 1547.079956 1561.890015 1466.300049 1496.400024 1435.449951
 1458.900024 1440.650024 1408.150024 1434.650024 1440.050049 1431.599976
 1423.699951 1446.949951 1472.650024 1465.199951 1520.449951 1536.099976
 1542.449951 1579.949951 1580.599976 1570.050049 1537.099976 1572.
 1537.5      1588.800049 1615.       1617.5      1615.400024 1656.25
 1759.5      1747.199951 1720.050049 1727.349976 1717.949951 1742.599976
 1723.150024 1703.349976 1737.900024 1760.550049 1787.5      1851.400024
 1823.949951 1797.349976 1824.599976 1878.5      1934.300049 1916.650024
 1845.599976 1843.099976 1911.349976 1919.300049 1971.849976 2004.099976
 2060.649902 2146.199951 2155.850098 2177.449951 2095.850098 2108.649902
 2066.949951 2008.449951 2151.149902 2126.649902 2134.550049 2146.699951
 2119.600098 2134.050049 2127.600098 2122.300049 2114.100098 2091.449951
 2118.75     2133.199951 2096.350098 2081.75     2096.050049 2082.
 2136.850098 2111.699951 2115.600098 2078.550049 2087.550049 2128.600098
 2112.149902 2077.399902 2082.399902 2107.050049 2161.25     2314.649902
 2318.850098 2302.350098 2317.899902 2323.850098 2299.350098 2305.5
 2255.149902 2211.149902 2229.550049 2181.149902 2201.699951 2215.75
 2244.850098 2233.75     2225.050049 2211.149902 2210.149902 2257.149902
 2238.899902 2233.699951 2236.600098 2280.25     2287.350098 2205.550049
 2175.5      2175.800049 2155.5      2123.25     2107.100098 2112.550049
 2028.699951 2034.199951 2010.699951 2026.550049 2054.350098 1877.300049
 1849.449951 1913.449951 1955.099976 2029.       2050.300049 2084.5
 1996.900024 1979.849976 1996.099976 1992.900024 1987.199951 1972.650024
 1899.199951 1950.800049 1965.099976 1947.75     1953.800049 1929.849976
 1954.300049 1957.599976 1963.449951 1946.550049 1958.050049 1993.75
 2026.650024 2007.199951 2005.599976 1991.150024 1974.       1976.050049
 1985.050049 1992.25     1939.75     1936.599976 1943.800049]