In [1]:
import psycopg2
import keys
import pandas as pd

In [20]:
con = psycopg2.connect(
            host = keys.keys['host'],
            database = keys.keys['database'],
            user = keys.keys['user'],
            password = keys.keys['password'])

#cursor 
cur = con.cursor()

#execute query
cur.execute('''CREATE TABLE accounts 
            (Name VARCHAR ( 50 ) UNIQUE NOT NULL, 
            Qualificaition VARCHAR ( 50 ) NOT NULL, 
            Sex VARCHAR ( 255 ) NOT NULL,
            Age INT NOT NULL,
            Origin  VARCHAR ( 50 ) NOT NULL )''')


with open('C:\projects\heroku_db\mates.csv', 'r') as acc:
    next(acc) # This will skip the header
    cur.copy_from(acc, 'accounts', sep=',')

#commit the transcation 
con.commit()

In [25]:
cur.execute('''SELECT * FROM accounts;''')
ver = cur.fetchall()
print('')
for i in ver:
    print(i,'\n')

('Sonu Kumar', 'BTech CSE', 'Male', 18, 'Nasriganj')

('Ravi Pathak', 'BTech CSE', 'Male', 19, 'Chapra')

('Sushant Pal', 'BTech CSE', 'Male', 20, 'Jaunpur')

('Ashish Yadav', 'BTech CSE', 'Male', 19, 'Kanpur')

('Sanchi Tripathi', 'B.Sc Botany', 'Female', 20, 'Baliya')

('Tammanah Bhatia', 'MBBS', 'Female', 20, 'Patiala')

('Ananya Singh', 'BA English', 'Female', 19, 'Ghaziabad')

('Harshvardhan Pratap Singh', 'BTech CSE', 'Male', 21, 'Mahaua')

('Samar Pratap Singh', 'BTech CSE', 'Male', 20, 'Birampur')

('Sakshi Kumari', 'BCA', 'Female', 22, 'Bikramganj')